*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.social{
    display: flex;
    justify-content: flex-end;
}

.social ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    
}

.social ul li{
    margin: 20px;
}

.social ul li a i{
    color: white;
}

.content-parrafo{
    display: flex;
    align-items: center;
}

.texto-barra{
    margin: 0px;
    color: white;
    margin-left: 50px;
}

.barra-superior{
    border-radius: 20px;
    margin-left: 1px;
    margin-right: 1px;
}

/* nav */

.navbar-brand{
   margin-left: 80px;
}

.navbar-nav{
    margin-left: 25px;
}

.nav-item{
    margin: 0 20px;
}

.sign-in a{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 80px;
}

#navbarNav{
    display: flex;
    justify-content: space-between;
}

/* contenido 1 */

.imagen-uno img{
    width: 100%;
    border-radius: 30px;
}



.caja-img img{
    border-radius: 25px;
}

.card-img-overlay{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    
}

.imagen-uno{
    overflow: hidden;
}

.card-imagen img{
    transition: all .5s ease;
    
}

.card-imagen{
    overflow: hidden;
}

/* contenido 2 */

.box-accion{
    display: flex;
    align-items: center;
}

.box-accion ul{
    list-style: none;
}

.box-accion ul li{
    margin: 20px 0px;
    
}


.box-accion ul li a{
    color: white;
    text-decoration: none;
}


/* contenido 3 */

.barra-centra1 img{
    object-fit: cover;
}








/* efectos cartas */


